---
layout: page
title:  all projects
permalink: /archive/
---

<div class="archive">
  <div class="timeline" id="timeline">
    <!-- {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y' " %} -->
    {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y' " %}
    {% for group in posts_by_year %}
      <div class="archive-title">
        <h4 class="archive-year">{{ group.name }}</h4>
      </div>

      <ul>
      {% for post in group.items %}
        <li>
          <div style="width:60px;float:left;">
            {{ post.date | date: "%b" }}
          </div>
          <strong>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </strong>
          {% if post.short_desc %}
            <strong>: </strong>
            <i>{{ post.short_desc }}</i>
          {% endif %}
        </li>
      {% endfor %}
      </ul>

    {% endfor %}
  </div>

</div>
