<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  <p>
    My name is Jonathan, and I'm from Honolulu, Hawaii. In my free time, I like like listening and trying to make music, longboarding, cooking/baking and <strong> making cool stuff</strong>. A lot of it starts with the question <i>"Hey, you know what would be cool?"</i> and this website and many of the projects on it are a testament to that.
  </p>
  <br />
  <p>
    I currently attend the Olin College of Engineering, a small, project based engineering school just outside of Boston. At Olin, I'm heavily involved in the Formula SAE team where I was the mechanical design lead for three semesters, from June 2018 to December 2019. Each year, we design, build, and race an open wheeled racecar.
  </p>
  <br />
  <p>
    As an engineer, I'm particularly interested in applying modeling and simulation to solve complex engineering problems.
  </p>
</div>
