<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  <p>
    My name is Jonathan, and I'm from Honolulu, Hawaii. My hobbies include watch making, running, swimming, longboarding, and cooking. As an engineer, I'm particularly interested in applying modeling and simulation to solve complex engineering problems.
  </p>
  
  <p>
    I received my BS in mechanical Engineering at Olin College in 2021 and I currently work as a Mechanical Design Engineer at Amazon Robotics.
  </p>


</div>
